@import url(reset.css);
@import url(variables.css);

* {
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: 30% 70%;
}

aside {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.operation-data {
  font-family: "Barlow";
  font-weight: 500;
  color: var(--colors-txt-primary);
  margin-left: 2rem;
  margin-bottom: 2rem;
}

header {
  margin-top: 1rem;
}

.titleHeader {
  font-family: "Barlow";
  font-weight: 700;
  color: var(--colors-txt-terciary);
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.newOrder,
.print {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.newOrder {
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-button-primary);
  font-family: "Inter";
  font-weight: 600;
  color: var(--colors-txt-button);
  padding: 0.5rem 1rem;
  margin-bottom: 2.5rem;
}

.textFilter {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  color: var(--colors-txt-fourth);
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
}

.select {
  border: 1px solid #666666;
  border-radius: 0.5rem;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.print {
  align-items: center;
  border: 1px solid #ff8b20;
  border-radius: 0.5rem;
  background-color: transparent;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-button-secundary);
  padding: 0.5rem 0.7rem;
}

footer {
  height: 2rem;
  margin-top: 1rem;
  font-family: "Barlow";
  font-weight: 500;
  color: var(--colors-txt-secudary);
  text-align: center;
}
