:root {
  --colors-txt-primary: #666666;
  --colors-txt-secudary: #B3B3B3;
  --colors-txt-terciary: #4d4d4d;
  --colors-txt-fourth: #666666;

  --colors-txt-button: #ffffff;

  --color-button-primary: #4a08ff;
  --color-button-secundary: #ff8b20;

  --color-thead-background: #ECECEC;
  --color-thead-border: #B3B3B3;
}
